.vscode/*
!.vscode/*.code-snippets
config/**
!config/ftbquests/
!config/ftbquests/quests/
!config/ftbquests/quests/**
!config/hangersystemchange-common.toml
!config/thirst
!config/thirst/item_settings.toml
!config/fancymenu/
#!config/fancymenu/**
!config/fancymenu/assets/
!config/fancymenu/assets/** */
!config/fancymenu/assets/fancymenu/
!config/fancymenu/assets/fancymenu/**
!config/fancymenu/assets/fancymenu/gui/
!config/fancymenu/assets/fancymenu/gui/**
!config/fancymenu/assets/fancymenu/gui/title/
!config/fancymenu/assets/fancymenu/gui/title/**
!config/fancymenu/custom_locals/
!config/fancymenu/custom_locals/**
!config/fancymenu/customization/
!config/fancymenu/customization/**
!config/fancymenu/layout_editor/
!config/fancymenu/layout_editor/**
!config/fancymenu/layout_editor/widgets/
!config/fancymenu/layout_editor/widgets/**
!config/fancymenu/panoramas/
!config/fancymenu/panoramas/**
!config/fancymenu/slideshows/
!config/fancymenu/slideshows/**
#!config/fancymenu/ui_themes/
#!config/fancymenu/ui_themes/**
!config/defaultoptions/
!config/defaultoptions/keybindings.txt
!quests_structures/
!quests_structures/**
.mixin.out/*
fancymenu_data/*
backups/*
crash-reports/*
data/*
defaultconfigs/*
kubejs/assets/ponderjs_generated/lang/en_us.json
local/*
logs/*
mods/.connector/*
mods/.index/*
patchouli_books/*
saves/*
schematics/*
!schematics/precision_mechanism.nbt
screenshots/*
server-resource-packs/*
shaderpacks/*
resourcepacks/AE2 Backport Integration/
resourcepacks/AE2 Backport Integration/*
texturepacks/*
xaero/*
xaero/minimap/*
XaeroWaypoints/*
XaeroWaypoints_BACKUP*/*
emi.json
options.txt
patchouli_data.json
rhino.local.properties
servers.dat
servers.dat*
usercache.json
usernamecache.json
immersivetips.json
immersivetips.json
win_event*.txt
gtceu/*
modernfix/*